.layout {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 3rem auto 3rem auto;
}

@media all and (max-width: 600px) {
  .layout {
    max-width: 90%;
  }
}
